<section class="container">
    <section class="gl-title-wrap">
        <h3 class="gl-title">Account list Angular</h3>
        <button type="button" (click)="onClickCreateAccount()" class="btn btn-primary">Create account</button>
    </section>

    <gl-accounts-dashboard *ngIf="accounts"
                            [title]="'Using Angular Components from Angular Code'"
                            [total]="accounts.length" ></gl-accounts-dashboard>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Account name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Expiration date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts | glSortArray: 'start_date': 'desc'">
                    <td>{{account.name}}</td>
                    <td>{{account.account_name}}</td>
                    <td>{{account.email}}</td>
                    <td>
                        <span class="badge badge-{{account.status | glStatusMap}}">{{account.status}}</span>
                    </td>
                    <td>{{account.start_date * 1000 | date: 'dd MMM yyyy'}}</td>
                    <td>{{account.expiration_date * 1000 | date: 'dd MMM yyyy'}}</td>
                    <td>
                        <button class="btn btn-secondary" (click)="onRemove(account)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
