<!-- Modal head -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create account</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Account form  -->
<div class="modal-body">
    <form  class="modal-body" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <!-- Name control -->
    <div class="form-group">
        <label for="controlName">Name*</label>
        <input type="text"
                class="form-control"
                [ngClass]="{'is-invalid': nameControlInput.touched && nameControlInput.hasError('required')}"
                id="controlName"
                placeholder="" 
                ngModel
                name="name"
                nameControl
                required
                #nameControlInput="ngModel"
              >
              
        <span class="invalid-feedback" *ngIf="nameControlInput.touched && nameControlInput.hasError('required')"> field cannot be empty</span>
    </div>
    <!-- Account control -->
    <div class="form-group">
        <label for="controlAccount">Account*</label>
        <input type="text"
                class="form-control"
                [ngClass]="{'is-invalid': accountNameInput.touched && accountNameInput.hasError('required')}"
                id="controlAccount"
                placeholder=""
                ngModel
                name="account_name"
                accountName
                required
                #accountNameInput="ngModel"
                >

        <span class="invalid-feedback" *ngIf="accountNameInput.touched && accountNameInput.hasError('required')"> field cannot be empty</span>
    </div>
    <!-- Status select -->
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control"
                id="exampleFormControlSelect1"
                [(ngModel)]="defaultSelect"
                name="status"
                status
                #statusInput="ngModel"
                >
            <option *ngFor="let option of statusList">
                {{option}}
            </option>
        </select>
    </div>
    <!-- Email control -->
    <div class="form-group">
        <label for="controlEmail">Email*</label>
        <input type="email"
               class="form-control"
               [ngClass]="{'is-invalid': emailInput.hasError('email') || emailInput.touched && emailInput.hasError('required')}"
               id="controlEmail"
               placeholder=""
               ngModel
               name="email"
               email
               required
               #emailInput="ngModel">

        <span class="invalid-feedback" *ngIf="emailInput.touched && emailInput.hasError('required')"> field cannot be empty</span>
        <span class="invalid-feedback" *ngIf="emailInput.hasError('email')">invalid email</span>

    </div>
    <!-- Date controls -->
    <div class="row">
        <div class="form-group col">
            <label for="startDate">Start date</label>
            <div class="input-group">
            <input id="startDate"
                   class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="sd"
                   ngbDatepicker
                   #sd="ngbDatepicker"
                   [(ngModel)]="defaultStartDate"
                   name="start_date"
                   startDate
                   #startDateInput="ngModel">
            <div class="input-group-append">
                <button class="btn calendar" (click)="sd.toggle()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </button>
            </div>
            </div>
        </div>
        <div class="form-group col">
            <label for="expireDate">Expire date</label>
            <div class="input-group">
            <input id="expireDate"
                   class="form-control"
                   placeholder="yyyy-mm-dd"
                   name="ed"
                   ngbDatepicker 
                   #ed="ngbDatepicker"
                   [(ngModel)]="defaultExpireDate"
                   name="expiration_date"
                   expireDate
                   #expireDateInput="ngModel">
            <div class="input-group-append">
                <button class="btn calendar" (click)="ed.toggle()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                    </svg>
                </button>
            </div>
            </div>
        </div>
    </div>
    <!-- submit -->
    <button type="submit"  #submit class="btn"></button>
    </form>
</div>
<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg" (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button [disabled]="f.invalid"  type="button" class="btn btn-lg btn-primary" (click)="submit.click()">Save</button>
</div>
