<!-- Modal head -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create account</h4>
    <button type="button" class="close" aria-label="Close" ng-click="glCreateAccount.onClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Account form  -->
<div class="modal-body">
    <ng-form class="modal-body" name='f' ng-submit="glCreateAccount.submit(glCreateAccount.account)">
        <!-- Name control -->
        <div class="form-group">
            <label for="controlName">Name*</label>
            <input type="text"
                    class="form-control"
                    ng-class="{'is-invalid': f.$$controls[0].$touched && f.$$controls[0].$error.required}"
                    id="controlName"
                    placeholder=""
                    name="nameControlInput"
                    ng-model="glCreateAccount.account.name"
                    required
                >
                
            <span class="invalid-feedback"> field cannot be empty</span>
        </div>
        <!-- Account control -->
        <div class="form-group">
            <label for="controlAccount">Account*</label>
            <input type="text"
                    class="form-control"
                    ng-class="{'is-invalid': f.$$controls[1].$touched && f.$$controls[1].$error.required}"
                    id="controlAccount"
                    placeholder=""
                    ng-model="glCreateAccount.account.account_name"
                    required
                >

            <span class="invalid-feedback"> field cannot be empty</span>
        </div>
         <!-- Status select -->
        <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control"
                    id="exampleFormControlSelect1"
                    ng-model="glCreateAccount.account.status"
                    ng-options="option for option in glCreateAccount.statusList"
                >
            </select>
        </div>
         <!-- Email control -->
        <div class="form-group">
            <label for="controlEmail">Email*</label>
            <input type="email"
                class="form-control"
                ng-class="{'is-invalid': f.$$controls[3].$error.email || f.$$controls[3].$touched && f.$$controls[3].$error.required}"
                id="controlEmail"
                placeholder=""
                ng-model="glCreateAccount.account.email"
                required>
            <span class="invalid-feedback" ng-if="f.$$controls[3].$error.required"> field cannot be empty</span>
            <span class="invalid-feedback" ng-if="f.$$controls[3].$error.email">invalid email</span>

        </div>
        <!-- Date controls -->
        <div class="row">
            <div class="form-group col">
                <label for="startDate">Start date</label>
                <div class="input-group">
                <input id="startDate"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="sd"
                    is-open="glCreateAccount.isOpenStartDatePicker"
                    uib-datepicker-popup="yyyy-MM-dd" 
                    ng-model="glCreateAccount.account.start_date">
                <div class="input-group-append">
                    <button class="btn calendar" ng-click="glCreateAccount.openStartDatePicker()" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                    </button>
                </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="expireDate">Expire date</label>
                <div class="input-group">
                <input id="expireDate"
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="ed"
                    is-open="glCreateAccount.isOpenExpDatePicker"
                    uib-datepicker-popup="yyyy-MM-dd" 
                    ng-model="glCreateAccount.account.expiration_date">
                <div class="input-group-append">
                    <button class="btn calendar" ng-click="glCreateAccount.openExpDatePicker()" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                    </button>
                </div>
                </div>
            </div>
        </div>
        <button type="submit" ng-ref="submit" class="btn"></button>
    </ng-form>
</div>
<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg" ng-click="glCreateAccount.onClose()">Cancel</button>
    <button ng-disabled="!f.$valid"  type="button" class="btn btn-lg btn-primary" ng-click="submit.submit()" >Save</button>
</div>
