<section class="container">

    <section class="gl-title-wrap">
        <h3 class="gl-title">Account list AngularJS</h3>
        <button type="button" ng-click="glAccounts.onClickCreateAccount()" class="btn btn-primary">Create account
        </button>
    </section>
    <gl-accounts-dashboard title="Using Angular Components from AngularJS Code"
                            total="{{glAccounts.data.length}}">
    </gl-accounts-dashboard>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Account name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Expiration date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in glAccounts.data">
                    <td>{{account.name}}</td>
                    <td>{{account.account_name}}</td>
                    <td>{{account.email}}</td>
                    <td>
                        <span class="badge badge-{{account.color}}">{{account.status}}</span>
                    </td>
                    <td>{{account.start_date * 1000 | date: 'dd MMM yyyy'}}</th>
                    <td>{{account.expiration_date * 1000 | date: 'dd MMM yyyy'}}</th>
                    <td>
                        <button class="btn btn-secondary" ng-click="glAccounts.onRemove(account.id)">Delete</button>
                    </th>
                  </tr>
            </tbody>
        </table>
    </div>
</section>
